@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2><u>@ViewBag.Title</u></h2>

</hgroup>
<br />
<br />
<div>
    <address>
        3217 Huntington Rd. <br />
        Columbia, MO<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
        <br />
        <abbr title="Email">E: </abbr><a href="mailto:questions@yi.com">questions@yi.com</a><br />
    </address>

</div>

